@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
  transition: all 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}
